h1{
    text-align: center;
    font-size: 24px;
    color: #1e1e1e;
    margin: 30px 0px 20px 0px;
}

.Dictionary section {
    background-color: rgb(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 8px;
    margin: 5px 0px;
}

.Dictionary input {
    width: 40%;
    padding: 5px;
    border-radius: 5px;
    border: #e2c4c4 1px solid;
}

.Dictionary form {
    text-align: center;
    margin-bottom: 30px;
}

.Dictionary span {
    font-size: 14px;
    color: #c49b9b;
}